### 👋 Sup
- 👨 Nathan/Nate Douglas, He/Him
- 💻 Software/DevOps/Platform/Site Reliability Engineer with ~13 years of experience
- 🧠 Looking to move into MLOps/HPC/ML/DL, perhaps get my [PhD in math (perhaps in the area of topology/manifolds), CS (deep learning), or complexity science](https://github.com/hellholt/phd-ideas/)

- 🏥 Working for [Agile Six](https://agile6.com/) on projects with the US Department of Veterans Affairs:
  - the [VA.gov Modernization](https://www.va.gov/modernization/) initiative (10/2020-02/2024)
  - the [Patient Check-In](https://www.va.gov/maryland-health-care/stories/check-in-for-your-va-appointment-with-your-smartphone/) system (02/2024-present)

### 🎨 Personal Projects

_I keep more personal, "about me" sort of things, or intended for personal use but left open-source for use by others in <span style="display:inline-block; min-width: 2em;">️‍🔥</span>[**hellholt**](https://github.com/hellholt/)._

{{ hellholt_repositories }}

### 🐵 \*Ops, Platform, and System Design Projects

_I keep projects related to my "Chaos Zoo", Goldentooth, in <span style="display:inline-block; min-width: 2em;">🦷</span>[**goldentooth**](https://github.com/goldentooth/)._

{{ goldentooth_repositories }}

### 🧑🏻‍🔬 Professional/Educational Projects

_I keep projects related to professional growth/interest, stuff I'm doing primarily to learn or progress as an engineer in <span style="display:inline-block; min-width: 2em;">🌉</span>[**bitterbridge**](https://github.com/bitterbridge/)._

{{ bitterbridge_repositories }}

### 🎲 Miscellaneous Projects

_I keep everything else in <span style="display:inline-block; min-width: 2em;">🌀</span>[**ndouglas**](https://github.com/ndouglas/)._

{{ ndouglas_repositories }}

_These are often embryonic and/or sitting idle for months at a time. There's only one of me and I have far more ambition and curiosity than time._

- 🗣️ **[Whispers](https://github.com/ndouglas/whispers/)**: A self-organizing, belief-driven mesh where nodes propose, verify, and evolve solutions through dynamic, decentralized consensus (Rust)
- 💻 **[Blackpool](https://github.com/ndouglas/blackpool/)**: An implementation of the Lox programming language and virtual machine (Rust)
- 👱‍♀️ **[Pinkmaiden](https://github.com/ndouglas/pinkmaiden/)**: An endlessly scrolling image-sharing site, sometimes NSFW ([Link](https://pnk.darkdell.net)) (Python, Terraform)
- 🌈 **[Sunhouse](https://github.com/ndouglas/sunhouse/)**: A simple ray tracer (Rust)
- 📜 **[Darkdell](https://github.com/ndouglas/darkdell/)**: My blog (https://darkdell.net/)
- 🧊 **[Unity Hashing Grid](https://github.com/ndouglas/unity-hashing-grid)**: Fun little visual toy in Unity (C#)
- 🎮 **[Greenstone](https://github.com/ndouglas/greenstone)**: A NES emulator that's somewhere in the PPU implementation (Rust)
- 🕴️ **[Resume](https://github.com/ndouglas/resume)**: My résumé, which I'm rewriting (LaTeX)
- 🪦 **[Runestone](https://github.com/ndouglas/runestone)**: A text adventure game experiment (Prolog)
- 📏 **[Pebbleton](https://github.com/ndouglas/pebbleton)**: A general-purpose YAML rules engine that I started writing (Rust)
- 🪨 **[Oldstones](https://github.com/ndouglas/oldstones)**: An implementation of Tim Boring's simple orchestrator (Go)

### 🪁 Free Time

- 🖌️ painting miniatures
- 🖨️ printing miniatures faster than I can paint them
- 🧱 building LEGO stuff with my [kid](https://github.com/JomoDuggins)
- 💪 exercising:
  - 🏋️‍♂️ lifting weights
  - 🚴 cycling
  - 🚣 rowing
- 👨‍🍳 cooking:
  - 🥖 baking
  - 🧀 cheesemaking
  - 🍝 general
- 🌵 not overwatering my succulents
- 🎥 [watching movies](https://letterboxd.com/supertempt768/)
- 📺 watching a show (currently _Star Trek_, the original series, because I could really use some of that Great Society-era optimism ATM NGL LOL)
- 🎼 [listening to music](https://rateyourmusic.com/~NathanDouglas)
- 📚 reading fiction (my favorite books are George R. R. Martin's _A Song of Ice and Fire_, if you couldn't tell from my project names)
- 🎲 not playing any of my ridiculous backlog of board games
- 🎮 not playing anything in my Steam library
- 🤖 <img src="https://tryhackme-badges.s3.amazonaws.com/lyssicc62.png" alt="TryHackMe"> currently top 3% on [TryHackMe](https://tryhackme.com/)

<!--
### On Hold...
- _[The Ray Tracer Challenge](http://raytracerchallenge.com)_, by Jamis Buck
- 🎸 playing various musical instruments, chiefly bass guitar, drums, accordion, but the set expands and contracts pretty frequently

- 🗡️ **[Hornvale](https://github.com/hornvale/)**: An experimental open-world roguelike/text adventure (Rust)
- 🧂 **[SaltShore](https://github.com/saltshore/)**: A new text adventure I'm working on, trying to use the stupidest design possible (Rust)
- 😶‍🌫️ **[Mistwood](https://github.com/ndouglas/mistwood/)**: A library for roguelikes, MUDs, and similar games combining Actors, ECS, Rules, and embedded Lua scripting (Rust)
- 🛡️ **[Downdelving](https://github.com/downdelving/)**: An experimental web-based MUD using my Mistwood library
  - **[React-Frontend](https://github.com/downdelving/react-frontend)** Frontend in verrrrrry early stages (React)
  - **[Dart-Frontend](https://github.com/downdelving/dart-frontend)**: Forthcoming frontend (Dart)
  - **[Go-Backend](https://github.com/downdelving/go-backend)**: Backend in very early stages, using standard library and FFI bindings (Go)
  - **[Rust-Backend](https://github.com/downdelving/rust-backend)**: Backend using Actix-Web (Rust)
- 🥷 **[Hammerdown](https://github.com/ndouglas/hammerdown/)**: An experimental roguelike intended to explore stealth mechanics (Rust)
-->

![ih7fej7bj9821](https://github.com/user-attachments/assets/6784e08b-88b1-4760-a856-ed1d6e17c0df)

---

{{ webring }}
